process {
    cache = 'lenient'
    stageInMode = 'symlink'
    module = 'singularity'

    executor = 'slurm'
    queue = 'cpu'
    clusterOptions = ''
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/mnt/shared/dingo/nf_workdir/singularity/"
    runOptions = "--bind /mnt:/mnt"
}

workDir = "/mnt/shared/dingo/nf_workdir/"
tmpDir = "/mnt/shared/dingo/nf_workdir/tmp"
