profiles {
    setonix {
        workDir = '/scratch/ja3/dingo_survey/work/'
        tmpDir = '/scratch/ja3/dingo_survey/tmp/'

        process {
            executor = 'local'
            module = ['singularity/4.1.0']

            cache = 'lenient'
            stageInMode = 'symlink'

            beforeScript = """. /opt/cray/pe/lmod/lmod/init/bash"""

            withName: download_cube {
                executor = 'slurm'
                queue = 'copy'
                clusterOptions = '--account=ja3 --time=24:00:00'
            }

            withName: sofia {
                executor = 'slurm'
                queue = 'work'
                clusterOptions = '--mem=128G --account=ja3 --time=24:00:00'
            }

            withName: gama_validate {
                executor = 'slurm'
                queue = 'work'
                clusterOptions = '--mem=64G --account=ja3 --time=24:00:00'
            }
        }

        params {
            SCRATCH_ROOT = "/scratch"
            WORKDIR = "/scratch/ja3/dingo_survey"
            CONFIG_DIR = "/software/projects/ja3/ashen/config/dingo"
            HOME_DIR = "/home/ashen"
            RUN_DIR = "run"
            SINGULARITY_CACHEDIR = "/scratch/ja3/dingo_survey/singularity"
            ASTROPY_CACHEDIR = "/scratch/ja3/dingo_survey"

            SOFIA_PARAMETER_FILE = "$CONFIG_DIR/sofia.par"
            SOFIA_CATALOG = "$CONFIG_DIR/concat_gt_150_mJy.dat"
            SOFIAX_CONFIG_FILE = "$CONFIG_DIR/sofiax.ini"
            S2P_TEMPLATE = "$CONFIG_DIR/s2p_setup.ini"
            DATABASE_ENV = "$CONFIG_DIR/database.env"
            CASDA_CREDENTIALS_CONFIG = "$CONFIG_DIR/casda.ini"

            VALIDATE_WORK_DIR = "$WORKDIR/validate/working"
        }

        singularity {
            enabled = true
            cacheDir = '/scratch/ja3/dingo_survey/singularity'
            envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
            runOptions = "--rocm"
        }

        docker.enabled = false
    }
}

params {
    METADATA_SUBDIR = "metadata"
    FOOTPRINT_SUBDIR = "data/footprints"
    MOSAICS_SUBDIR = "data/mosaics"

    MOSAIC_OUTPUT_FILENAME = "mosaic"
    SOFIA_OUTPUTS_DIRNAME = "outputs"
    SOFIAX_CONFIG_FILENAME = "sofiax.ini"
    WALLMERGE_OUTPUT = "mom0.fits"
    DIAGNOSTIC_PLOT_FILENAME = "diagnostics.pdf"
    REGION = ""
    RUN_SOFIA = "1"
    RUN_SOFIAX = "1"
    CASDA_DOWNLOAD_MANIFEST = "DINGO"

    CASDA_DOWNLOAD_IMAGE = "aussrc/casda_download:v1.0.3"
    CASDA_DOWNLOAD_IMAGE_NAME = "aussrc-casda_download-v1.0.3"
    OBSERVATION_METADATA_IMAGE = "aussrc/observation_metadata:latest"
    OBSERVATION_METADATA_IMAGE_NAME = "aussrc-observation_metadata-latest"
    METADATA_IMAGE = "aussrc/metadata_tools:latest"
    METADATA_IMAGE_NAME = "aussrc-metadata_tools-latest"
    S2P_SETUP_IMAGE = "aussrc/s2p_setup:v0.4.0"
    S2P_SETUP_IMAGE_NAME = "aussrc-s2p_setup-v0.4.0"
    UPDATE_SOFIAX_CONFIG_IMAGE = "aussrc/update_sofiax_config:latest"
    UPDATE_SOFIAX_CONFIG_IMAGE_NAME = "aussrc-update_sofiax_config-latest"
    SOFIAX_IMAGE = "aussrc/sofiax:v1.0.0"
    SOFIAX_IMAGE_NAME = "aussrc-sofiax-v1.0.0"
    SOFIA_IMAGE = "sofiapipeline/sofia2:latest"
    SOFIA_IMAGE_NAME = "sofiapipeline-sofia2-latest"
    GET_DSS_IMAGE = "aussrc/dss_image:latest"
    GET_DSS_IMAGE_NAME = "aussrc-dss_image-latest"
    WALLMERGE_IMAGE = "aussrc/wallmerge:v0.1.0"
    WALLMERGE_IMAGE_NAME = "aussrc-wallmerge-v0.1.0"
    GAMA_IMAGE = "aussrc/dingo_validate"
    GAMA_IMAGE_NAME = "aussrc-dingo_validate"
    PIPELINE_PLOTS_IMAGE = "aussrc/pipeline_plots:v1.0.5"
    PIPELINE_PLOTS_IMAGE_NAME = "aussrc-pipeline_plots-v1.0.5"
}
