includeConfig 'pipeline_components/nextflow/config/images.config'
includeConfig 'pipeline_components/nextflow/config/setonix.config'

profiles {
    setonix {
        workDir = '/scratch/ja3/dingo_survey/work/'
        tmpDir = '/scratch/ja3/dingo_survey/tmp/'

        process {
            cache = 'lenient'
            stageInMode = 'symlink'

            withName: download {
                executor = 'slurm'
                queue = 'copy'
                clusterOptions = '--account=ja3 --time=6:00:00'
            }

            withName: sofia {
                executor = 'slurm'
                queue = 'work'
                clusterOptions = '--mem=128G --account=ja3 --time=12:00:00'
            }
        }

        params {
            WORKDIR = "/scratch/ja3/dingo_survey"
            CONFIG_DIR = "/software/projects/ja3/ashen/config/dingo"

            DATABASE_ENV = "$CONFIG_DIR/database.env"
            CASDA_CREDENTIALS = "$CONFIG_DIR/casda.ini"

            SOFIA_CATALOG = "$CONFIG_DIR/concat_gt_150_mJy.dat"

            VALIDATE_WORK_DIR = "$WORKDIR/validate/working"
        }
    }
}

params {
    RUN_NAME = ""
    SBID = ""
    IMAGE_CUBE = ""
    WEIGHTS_CUBE = ""
    CONT_FILE = ""

    AUSSRC_PIPELINE_COMPONENTS_IMAGE = "aussrc/pipeline_components:dev"
}
